<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>疫情上报系统</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!--    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
    <script src="https://cdn.bootcss.com/axios/0.19.0/axios.js"></script>
</head>
<body>
<div id="app">
    <el-container>
        <el-header>
            <el-tag type="danger">疫情上报系统</el-tag>
            <el-tag type="warning">早睡早起、注意防护</el-tag>
            <!--            <el-tag-->
            <!--                    v-for="item in items"-->
            <!--                    :key="item.label"-->
            <!--                    :type="item.type"-->
            <!--                    effect="dark">-->
            <!--                {{ item.label }}-->
            <!--            </el-tag>-->
        </el-header>
        <el-main>
            <div class="main">
                <el-row justify="center">
                    <el-col :lg="{span:4,offset:10}" :xs="{span:16,offset:4}">
                        <el-input v-model="newStudent.id" placeholder="请输入">
                            <template slot="prepend">学号</template>
                        </el-input>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :lg="{span:4,offset:10}" :xs="{span:16,offset:4}">
                        <el-input v-model="newStudent.tempAM" placeholder="上午">
                            <template slot="prepend">体温</template>
                            <template slot="append">℃</template>
                        </el-input>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :lg="{span:4,offset:10}" :xs="{span:16,offset:4}">
                        <el-input v-model="newStudent.tempPM" placeholder="下午">
                            <template slot="prepend">体温</template>
                            <template slot="append">℃</template>
                        </el-input>
                        <el-tag type="success">例如36.5</el-tag>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :lg="{span:4,offset:10}" :xs="{span:16,offset:4}">
                        <el-input :rows="6" type="textarea" v-model="newStudent.des" placeholder="若有不适请描述情况"></el-input>
                        <el-tag type="danger">若超过37.3℃</el-tag>
                    </el-col>
                </el-row>
                <el-row type="flex" class="row-bg" justify="center">
                    <el-button round type="success" size="medium" plain @click="submit">上报信息
                    </el-button>
                </el-row>
            </div>
        </el-main>

    </el-container>
</div>
</body>
<!-- import Vue before Element -->
<!--<script src="https://unpkg.com/vue/dist/vue.js"></script>-->
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.common.dev.js"></script>
<!-- import JavaScript -->
<!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
<script src="https://cdn.bootcss.com/element-ui/2.12.0/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            isDisabl: true,
            newStudent: {
                id: '',
                tempAM: '',
                tempPM: '',
                des: ''
            },
            items:
                {type: 'warning', label: 0}

        },

        // beforeCreate: function () {
        //     axios.get('http://www.dzyong.top:3005/yiqing/total').then(function (response) {
        //
        //         this.items = {
        //             label: response.data.data[0].death
        //         // suspect: response.data.data[0].suspect,
        //         // death: response.data.data[0].death,
        //         // cured: response.data.data[0].cured
        //     }
        //         ;
        // var jsonData = JSON.stringify(response.data);
        // alert(JSON.stringify(temp));

        // {"data":[{"id":1,"diagnosed":68584,"suspect":8228,"death":1666,"cured":9547,"date":"2020-02-16 14:41:17"}]}
        // })
        // },
        methods: {
            temp: '',
            submit: function () {
                this.newStudent = {
                    id: this.newStudent.id,
                    tempAM: this.newStudent.tempAM,
                    tempPM: this.newStudent.tempPM,
                    des: this.newStudent.des
                };
                console.log(this.newStudent.id);
                console.log(this.newStudent.tempAM);
                console.log(this.newStudent.tempPM);
                console.log(this.newStudent.des);
                var notify = this.$notify;

                function alertMessage(title, message, type) {
                    notify({
                        title: title,
                        message: message,
                        type: type,
                        duration: 3000,
                        position: 'bottom-right',
                        offset: 100
                    });
                }

                axios.post('/updateInfo', this.newStudent)
                    .then(function (response) {
                        console.log("成功");
                        alertMessage('上报成功', '谢谢配合', 'success')
                    })
                    .catch(function (error) {
                        console.log(error);
                        console.log("不存在");
                        alertMessage('信息错误', '请检查学号', 'error');
                    });
            }
        },
    })
</script>
<style>
    .el-row {
        padding: 10px;
    }

    #app {

        background: url('http://chuantu.xyz/t6/720/1581952935x2890149663.jpg');

        height: 100%;

        width: 100%;

        overflow: hidden;

        background-size: cover;
    }

    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        font: 14px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
        -webkit-font-smoothing: antialiased;
    }

    .el-header {
        margin-top: 20px;
    }
</style>
</html>