<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>绿码收集</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!--    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
    <script src="https://cdn.bootcss.com/axios/0.19.0/axios.js"></script>

</head>
<body>
<div id="app">
    <el-container>
        <el-header>
            <el-link type="info" style="font-family: 'Dubai Light';font-size:14px;">疫情上报系统V2-健康码助手</el-link>
            <el-button size="small" @click="queryHealth" type="success" icon="el-icon-setting">进入后台管理中心</el-button>
        </el-header>
        <el-main>
            <el-row justify="center">
                <el-col :lg="{span:8,offset:10}" :xs="{span:24,offset:2}">
                    <lable class="el-icon-upload" style="font-family: 'Dubai Light';font-size: xx-large;font-weight:bolder;color: #2d2d2d">
                        健康码小助手
                    </lable>
                </el-col>
            </el-row>
            <el-row justify="center">
                <el-col :lg="{span:4,offset:10}" :xs="{span:15,offset:4}">
                    <el-input v-model="newStudent.id" placeholder="请输入">
                        <template slot="prepend">学号</template>
                    </el-input>
                </el-col>
            </el-row>
            <el-row>

                <el-row>
                    <el-col :lg="{span:4,offset:10}" :xs="{span:20,offset:4}">
                        <template>
                            <el-radio-group v-model="radio">
                                <el-radio :label="1" style="color: #67C23A;font-family: 'Dubai Light';">绿码</el-radio>
                                <el-radio :label="2" style="color:#E6A23C;font-family: 'Dubai Light';">黄码</el-radio>
                                <el-radio :label="3" style="color:#F56C6C;font-family: 'Dubai Light';">红码</el-radio>
                            </el-radio-group>
                        </template>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :lg="{span:4,offset:10}" :xs="{span:20,offset:0}">
                        <template>
                            <el-form :model="editForm" label-width="80px" ref="editForm">
                                <el-row :lg="{span:4,offset:10}">
                                     <el-badge :value="1" class="item"/>
                                    <el-form-item prop="posters">
                                        <el-upload
                                                action="abc"
                                                multiple
                                                accept="image/png, image/jpeg"
                                                :accept="'image/*'"
                                                list-type="picture-card"
                                                :before-upload="beforeUploadPicture"
                                                :on-change="handlePictureRemove"
                                                :on-preview="handlePictureCardPreview"
                                                :on-remove="handleRemove"
                                                :on-success="uploadImgSuccess"
                                                :http-request="uploadImg"
                                                :file-list="editForm.posterList"
                                                :limit="2"
                                                v-loading="loading"
                                                element-loading-text="网速不给力,在等等"
                                                element-loading-spinner="el-icon-loading"
                                                element-loading-background="rgba(0, 0, 0, 0.8)"
                                        >
                                            <i class="el-icon-plus"></i>
                                        </el-upload>
                                    </el-form-item>
                                    <el-dialog class="preview-modal" :visible.sync="imgVisible" append-to-body>
                                        <img width="100%" :src="dialogImageUrl" alt="photo">
                                    </el-dialog>
                                </el-row>
                            </el-form>
                        </template>
                    </el-col>
                </el-row>

            </el-row>
            </el-row>
            <el-row>
                <el-col :lg="{span:4,offset:10}" :xs="{span:20,offset:1}">
                    <el-progress type="dashboard" :percentage="percentage" :color="colors"></el-progress>
                </el-col>
                <el-col :lg="{span:4,offset:10}" :xs="{span:20,offset:2}">
                    <el-link icon="el-icon-school" style="font-family: 'Dubai Light';font-size:18px;">假期余量</el-link>
                </el-col>
            </el-row>

        </el-main>

    </el-container>
</div>
</body>
<!-- import Vue before Element -->
<!--<script src="https://unpkg.com/vue/dist/vue.js"></script>-->
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.common.dev.js"></script>
<!-- import JavaScript -->
<!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
<script src="https://cdn.bootcss.com/element-ui/2.12.0/index.js"></script>
<script>


    new Vue({
        el: '#app',
        created: function () {
            console.log(`-created`);
            let curDay = new Date().getDate();
            curDay=30-curDay;
            this.percentage = curDay * (100 / 30).toFixed(0);
        },
        data: {
            radio: "1",
            isDisabl: true,
            newStudent: {
                id: '',
                tempAM: '',
                tempPM: '',
                des: ''
            },
            items:
                {type: 'warning', label: 0}
            , editForm: {
                posterList: [],
            },
            imgVisible: false,
            dialogImageUrl: '',
            loading: false,
            imgQuality: 0.2,
            percentage: 0,
            colors: [
                {color: '#f56c6c', percentage: 20},
                {color: '#e6a23c', percentage: 40},
                {color: '#5cb87a', percentage: 60},
                {color: '#1989fa', percentage: 80},
                {color: '#6f7ad3', percentage: 100}
            ],

        },
        methods: {
            dataURItoBlob(dataURI, type) {
                var binary = atob(dataURI.split(',')[1]);
                var array = [];
                for (var i = 0; i < binary.length; i++) {
                    array.push(binary.charCodeAt(i));
                }
                return new Blob([new Uint8Array(array)], {type: type});
            },
            //上传图片前-可以将自定义上传写在这里,并在最后return false
            beforeUploadPicture(file) {
                if (file.size > 800 * 1024) {
                    this.$message.error("上传图片不能大于800kB");
                    return false;
                }
                const _this = this;
                return new Promise(resolve => {
                    const reader = new FileReader();
                    const image = new Image();
                    image.onload = (imageEvent) => {
                        const canvas = document.createElement('canvas');
                        const context = canvas.getContext('2d');
                        const width = image.width * _this.imgQuality;
                        const height = image.height * _this.imgQuality;
                        canvas.width = width;
                        canvas.height = height;
                        context.clearRect(0, 0, width, height);
                        context.drawImage(image, 0, 0, width, height);
                        const dataUrl = canvas.toDataURL(file.type);
                        const blobData = _this.dataURItoBlob(dataUrl, File.type);
                        resolve(blobData)
                    }
                    reader.onload = (e => {
                        image.src = e.target.result;
                    });
                    reader.readAsDataURL(file);
                })
            },
            queryHealth() {
                window.location.href = "http://yct.concat.top/adminManageV2"
            }
            ,
            //自定义上传方法
            uploadImg(item) {
                var _this = this;
                let that = this;
                let fd = new FormData();
                fd.append('file', item.file);
                fd.append('fid', this.newStudent.id.toString());
                fd.append('fileType', 'image');
                fd.append('healthStatus', this.radio);
                _this.loading = true;
                axios.post('/postData', fd)
                    .then(function (response) {
                        _this.loading = false;
                        alert(response.data.success);
                    })
                    .catch(function (error) {
                        console.log(error);
                        console.log("不存在");
                    });
            },
            handleRemove(file, fileList) {
                this.fileChange(fileList)
            },
            uploadImgSuccess(file, fileList) {
                console.log('file', file)
            },
            handlePictureRemove(file, fileList) {
                this.fileChange(fileList)
            },
            //重新生成fileList
            fileChange(fileList) {
                let temp = [];
                if (fileList) {
                    if (fileList.length > 0) {
                        for (let i = 0; i < fileList.length; i++) {
                            temp.push(fileList[i].response)//承接上面绑定onSuccess,因为图片的url是直接作为response传回来的,所以这里要push的是response,而不是一般其他人给的例子里的url
                        }
                    }
                }
                this.editForm.posters = temp;
            },
            handlePictureCardPreview(file) {
                this.dialogImageUrl = file.url;
                this.imgVisible = true;
            },
            temp: '',
            submit: function () {
                this.newStudent = {
                    id: this.newStudent.id,
                    tempAM: this.newStudent.tempAM,
                    tempPM: this.newStudent.tempPM,
                    des: this.newStudent.des
                };
                console.log(this.newStudent.id);
                console.log(this.newStudent.tempAM);
                console.log(this.newStudent.tempPM);
                console.log(this.newStudent.des);
                var notify = this.$notify;

                function alertMessage(title, message, type) {
                    notify({
                        title: title,
                        message: message,
                        type: type,
                        duration: 3000,
                        position: 'bottom-right',
                        offset: 100
                    });
                }

                axios.post('/updateInfo', this.newStudent)
                    .then(function (response) {
                        console.log("成功");
                        alertMessage('上报成功', '谢谢配合', 'success')
                    })
                    .catch(function (error) {
                        console.log(error);
                        console.log("不存在");
                        alertMessage('信息错误', '请检查学号', 'error');
                    });
            }, handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePreview(file) {
                console.log(file);
            },
            handleExceed(files, fileList) {
                this.$message.warning(`当前限制选择 3 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`);
            },
            beforeRemove(file, fileList) {
                return this.$confirm(`确定移除 ${file.name}？`);
            },
        },
    });

</script>
<style>
    .el-input-group__prepend{
        background-color: #2d2d2d;
        border: #2d2d2d;
    }
    .el-input__inner {
        background-color: #2d2d2d;
        border: #2d2d2d;
    }
    .el-upload{
        background-color: #2d2d2d;
        border: #2d2d2d;
    }
    . el-upload-list--picture-card{
        background-color: #2d2d2d;
        border: #2d2d2d;
    }
    .el-upload-list{
        background-color: #2d2d2d;
        border: #2d2d2d;
    }
    .el-row {
        padding: 10px;
    }

    #app {
        /*#909399*/
        background-color: 	#000000;

        height: 100%;

        width: 100%;

        overflow: hidden;

        background-size: cover;
    }

    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        font: 14px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
        -webkit-font-smoothing: antialiased;
    }

    .el-header {
        margin-top: 20px;
    }
</style>
</html>
